@CHARSET "UTF-8";

/* 공통 디자인 */
a:link, a:visited {text-decoration: none; color: #aaaaaa;}
.wdp_90 {width:90%}
.btn {color:#fff !important; display:inline-block; background-color:#6b9ab8; vertical-align:middle;}

.ecall-container {width: 1200px; margin:0 auto;}
.ecall-controller {width: 1200px; margin-top:60px;}
.ecall-control-list {border: 1px solid #ccc; width:395px; float:left;  text-align:center; background:#fafafa; color:#999}
.toptext {position:relative; top:35%;  color:#FFFFFF;}

/* 관제 테이블 디자인 */
.board_list {width:100%;border-top:2px solid #eee;border-bottom:1px solid #eee }
.board_list thead th:first-child{background-image:none;}
.board_list thead th {border-bottom:0px; border-top:0px; padding:10px 0 10px 0;font-weight:bold; vertical-align:middle; text-align:center; color:#fff; background:#aaaaaa;}
.board_list tbody td {border-top:1px solid #eee;padding:1px 1px;text-align:center;vertical-align:middle; color:#aaaaaa; background:#fafafa}
.board_list tbody tr:first-child td {border:none}
.board_list tbody td a {display:inline-block}

/* 상세보기 테이블 디자인 */
.board_view {width:100%;border-top:2px solid #eee;}
.board_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #eee}

/* 현황판 테이블 디자인 */
.state-table-head {font-weight:bold; font-size: 20px; vertical-align:middle; text-align:center; color:#777777; padding:15px 15px;}
.state-table-body {width:100%; border-top:2px solid #eee;border-bottom:1px solid #eee;}
.state-table-body th {border-bottom:0px; border-top:0px; padding:20px 0 20px 0;font-weight:bold; font-size: 20px; vertical-align:middle; text-align:center; color:#fff; background:#bbbbbb;}
.state-table-body td {border-top:1px solid #eee;padding:20px 20px;text-align:center;vertical-align:middle; color:#777777; background:#fafafa; font-size: 20px; font-weight:bold;}


/* 차트 디자인 */
.container_chart {float:left; text-align:center; margin-top:60px;}
.div_chart1 {float:left; text-align:center; border: 1px solid #ddd;}
.div_chart2 {float:left; text-align:center; border: 1px solid #ddd;}
.div_chart3 {float:left; text-align:center; border: 1px solid #ddd;}
.div_chart4 {float:left; text-align:center; border: 1px solid #ddd;}

/* 체크박스 디자인 */
input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-left: 30px;
}
input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);

  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input[type="checkbox"] + label:active:before,
input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type="checkbox"]:checked + label:before {   /* 체크박스를 체크했을때 */
	content: '\2714'; /* 체크표시 유니코드 사용 */
	color: #99a1a7;
	text-shadow: 1px 1px #fff;
	background: #e9ecee;
	border-color: #adb8c0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	
	position: absolute;
	content: "";
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	background: transparent;
	border-color: transparent #6cc0e5 #6cc0e5 transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.no-csstransforms input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}
.checkbox-span {text-align:right;}